.book {
  height: 200px;
  width: 350px;
  box-shadow: 0 5px 10px #ccc;
  padding: 5px;
  background: #7691b9;
  color: white;
  margin-top: -10px;
  display: flex;
}
.book-container {
  margin: 10px;
}
.book-detail {
  margin-left: 15px;
}
.img {
  width: 100px;
}
.img img {
  width: 100%;
}
